.el-header, .el-footer {
    border: 1px solid #01648d;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  // 侧边栏
  .el-aside {
    background-color: #01648d;
    min-height: 720px;
    color: #333;
    text-align: center;
    line-height: 200px;
    border: 1px solid #aaa;
  }
  .aside-menu{
    border-right: 0;
    .el-menu-item{
      border-bottom: 1px solid #aaa
      }
    }
  // main
  .el-main {
    background-color: #01648d;
    color: #333;
    text-align: center;
    // line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .box>section{
    display: flex;
    flex-direction: column;
    }
    // head 
    .head{
      background-color: #01648d;
      border-bottom:1px solid #ccc;
      h1{
        font-size: 30px;
        text-align: left;
        color: #fff;
        text-indent: 0.5em;
        line-height: 80px
      }
      }