.loginBox {
    width: 100%;
    height: 800px;
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1572609265860&di=edb8d3a3bb2d7946f0ddfa8a3afbf361&imgtype=0&src=http%3A%2F%2Fnews.mydrivers.com%2FImg%2F20110915%2F2011091505330072.jpg);

    .box {
        border: 1px solid #aaa;
        box-shadow: 10px 10px 15px #aaa;
        background: $loginBox;
        width: 400px;
        position: fixed;
        top: 200px;
        left: 50%;
        margin-left: -200px;
        padding: 50px;
        h3{
            text-align: center;
            font-size: 30px;
            line-height: 30px;
            margin: 20px;
            color: #fff;
        }
        .inp{
            margin-bottom: 20px;
            }
        .typesel{
            text-align: center;
            .radios{
                color: #fff;}
            }
        .login{
            text-align: center;
            margin: 30px;
            
            }
    }
}
